* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.leftSide li {
  float: left;
}

.rightSide li {
  float: right;
}

li .link {
  display: block;
  color: #CBB26A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .link:hover {
  background-color: #CBB26A;
  color: black;
}
