* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #1d1c1c;
  width: 100%;
}

ul li {
  list-style-type: none;
  margin: 20px;
  display: block;
  height: 55px;
  line-height: 55px;
}

img {
  width: 75px;
  vertical-align: middle;
}

.leftSide {
  float: left;
}

.rightSide {
  float: right;
}

.link {
  color: #cbb26a;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.link:hover:not(#logo) {
  background-color: #cbb26a;
  color: #1d1c1c;
}
